<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

    <extension
            point="org.eclipse.ui.editors">
        <editor
            class="org.xtext.hipie.ui.HIPIEExecutableExtensionFactory:org.eclipse.xtext.ui.editor.XtextEditor"
            contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
            default="true"
            extensions="dud, cmp"
            id="org.xtext.hipie.HIPIE"
            name="HIPIE Editor">
        </editor>
    </extension>
    <extension
        point="org.eclipse.ui.handlers">
        <handler
            class="org.xtext.hipie.ui.HIPIEExecutableExtensionFactory:org.eclipse.xtext.ui.editor.hyperlinking.OpenDeclarationHandler"
            commandId="org.eclipse.xtext.ui.editor.hyperlinking.OpenDeclaration">
            <activeWhen>
                <reference
                    definitionId="org.xtext.hipie.HIPIE.Editor.opened">
                </reference>
            </activeWhen>
        </handler>
        <handler
            class="org.xtext.hipie.ui.HIPIEExecutableExtensionFactory:org.eclipse.xtext.ui.editor.handler.ValidateActionHandler"
            commandId="org.xtext.hipie.HIPIE.validate">
         <activeWhen>
            <reference
                    definitionId="org.xtext.hipie.HIPIE.Editor.opened">
            </reference>
         </activeWhen>
      	</handler>
      	<!-- copy qualified name -->
        <handler
            class="org.xtext.hipie.ui.HIPIEExecutableExtensionFactory:org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedNameHandler"
            commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedName">
            <activeWhen>
				<reference definitionId="org.xtext.hipie.HIPIE.Editor.opened" />
            </activeWhen>
        </handler>
        <handler
            class="org.xtext.hipie.ui.HIPIEExecutableExtensionFactory:org.eclipse.xtext.ui.editor.copyqualifiedname.OutlineCopyQualifiedNameHandler"
            commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.OutlineCopyQualifiedName">
            <activeWhen>
            	<and>
            		<reference definitionId="org.xtext.hipie.HIPIE.XtextEditor.opened" />
	                <iterate>
						<adapt type="org.eclipse.xtext.ui.editor.outline.IOutlineNode" />
					</iterate>
				</and>
            </activeWhen>
        </handler>
    </extension>
    <extension point="org.eclipse.core.expressions.definitions">
        <definition id="org.xtext.hipie.HIPIE.Editor.opened">
            <and>
                <reference definitionId="isActiveEditorAnInstanceOfXtextEditor"/>
                <with variable="activeEditor">
                    <test property="org.eclipse.xtext.ui.editor.XtextEditor.languageName" 
                        value="org.xtext.hipie.HIPIE" 
                        forcePluginActivation="true"/>
                </with>        
            </and>
        </definition>
        <definition id="org.xtext.hipie.HIPIE.XtextEditor.opened">
            <and>
                <reference definitionId="isXtextEditorActive"/>
                <with variable="activeEditor">
                    <test property="org.eclipse.xtext.ui.editor.XtextEditor.languageName" 
                        value="org.xtext.hipie.HIPIE" 
                        forcePluginActivation="true"/>
                </with>        
            </and>
        </definition>
    </extension>
    <extension
            point="org.eclipse.ui.preferencePages">
        <page
            class="org.xtext.hipie.ui.HIPIEExecutableExtensionFactory:org.eclipse.xtext.ui.editor.preferences.LanguageRootPreferencePage"
            id="org.xtext.hipie.HIPIE"
            name="HIPIE">
            <keywordReference id="org.xtext.hipie.ui.keyword_HIPIE"/>
        </page>
        <page
            category="org.xtext.hipie.HIPIE"
            class="org.xtext.hipie.ui.HIPIEExecutableExtensionFactory:org.eclipse.xtext.ui.editor.syntaxcoloring.SyntaxColoringPreferencePage"
            id="org.xtext.hipie.HIPIE.coloring"
            name="Syntax Coloring">
            <keywordReference id="org.xtext.hipie.ui.keyword_HIPIE"/>
        </page>
        <page
            category="org.xtext.hipie.HIPIE"
            class="org.xtext.hipie.ui.HIPIEExecutableExtensionFactory:org.eclipse.xtext.ui.editor.templates.XtextTemplatePreferencePage"
            id="org.xtext.hipie.HIPIE.templates"
            name="Templates">
            <keywordReference id="org.xtext.hipie.ui.keyword_HIPIE"/>
        </page>
    </extension>
    <extension
            point="org.eclipse.ui.propertyPages">
        <page
            class="org.xtext.hipie.ui.HIPIEExecutableExtensionFactory:org.eclipse.xtext.ui.editor.preferences.LanguageRootPreferencePage"
            id="org.xtext.hipie.HIPIE"
            name="HIPIE">
            <keywordReference id="org.xtext.hipie.ui.keyword_HIPIE"/>
            <enabledWhen>
	            <adapt type="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
	        <filter name="projectNature" value="org.eclipse.xtext.ui.shared.xtextNature"/>
        </page>
    </extension>
    <extension
        point="org.eclipse.ui.keywords">
        <keyword
            id="org.xtext.hipie.ui.keyword_HIPIE"
            label="HIPIE"/>
    </extension>
    <extension
         point="org.eclipse.ui.commands">
      <command
            description="Trigger expensive validation"
            id="org.xtext.hipie.HIPIE.validate"
            name="Validate">
      </command>
      <!-- copy qualified name -->
      <command
            id="org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedName"
            categoryId="org.eclipse.ui.category.edit"
            description="Copy the qualified name for the selected element"
            name="Copy Qualified Name">
      </command>
      <command
            id="org.eclipse.xtext.ui.editor.copyqualifiedname.OutlineCopyQualifiedName"
            categoryId="org.eclipse.ui.category.edit"
            description="Copy the qualified name for the selected element"
            name="Copy Qualified Name">
      </command>
    </extension>
    <extension point="org.eclipse.ui.menus">
        <menuContribution
            locationURI="popup:#TextEditorContext?after=group.edit">
             <command
                 commandId="org.xtext.hipie.HIPIE.validate"
                 style="push"
                 tooltip="Trigger expensive validation">
            <visibleWhen checkEnabled="false">
                <reference
                    definitionId="org.xtext.hipie.HIPIE.Editor.opened">
                </reference>
            </visibleWhen>
         </command>  
         </menuContribution>
         <!-- copy qualified name -->
         <menuContribution locationURI="popup:#TextEditorContext?after=copy">
         	<command commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedName" 
         		style="push" tooltip="Copy Qualified Name">
            	<visibleWhen checkEnabled="false">
                	<reference definitionId="org.xtext.hipie.HIPIE.Editor.opened" />
            	</visibleWhen>
         	</command>  
         </menuContribution>
         <menuContribution locationURI="menu:edit?after=copy">
         	<command commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedName"
            	style="push" tooltip="Copy Qualified Name">
            	<visibleWhen checkEnabled="false">
                	<reference definitionId="org.xtext.hipie.HIPIE.Editor.opened" />
            	</visibleWhen>
         	</command>  
         </menuContribution>
         <menuContribution locationURI="popup:org.eclipse.xtext.ui.outline?after=additions">
			<command commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.OutlineCopyQualifiedName" 
				style="push" tooltip="Copy Qualified Name">
         		<visibleWhen checkEnabled="false">
	            	<and>
	            		<reference definitionId="org.xtext.hipie.HIPIE.XtextEditor.opened" />
						<iterate>
							<adapt type="org.eclipse.xtext.ui.editor.outline.IOutlineNode" />
						</iterate>
					</and>
				</visibleWhen>
			</command>
         </menuContribution>
    </extension>
    <extension point="org.eclipse.ui.menus">
		<menuContribution locationURI="popup:#TextEditorContext?endof=group.find">
			<command commandId="org.eclipse.xtext.ui.editor.FindReferences">
				<visibleWhen checkEnabled="false">
       <reference
             definitionId="org.xtext.hipie.HIPIE.Editor.opened">
       </reference>
            	</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<extension point="org.eclipse.ui.handlers">
	    <handler
            class="org.xtext.hipie.ui.HIPIEExecutableExtensionFactory:org.eclipse.xtext.ui.editor.findrefs.FindReferencesHandler"
            commandId="org.eclipse.xtext.ui.editor.FindReferences">
            <activeWhen>
                <reference
                    definitionId="org.xtext.hipie.HIPIE.Editor.opened">
                </reference>
            </activeWhen>
        </handler>
    </extension>   

<!-- adding resource factories -->

	<extension
		point="org.eclipse.emf.ecore.extension_parser">
		<parser
			class="org.xtext.hipie.ui.HIPIEExecutableExtensionFactory:org.eclipse.xtext.resource.IResourceFactory"
			type="dud">
		</parser>
  <parser
        class="org.xtext.hipie.ui.HIPIEExecutableExtensionFactory:org.eclipse.xtext.resource.IResourceFactory"
        type="cmp">
  </parser>
	</extension>
	<extension point="org.eclipse.xtext.extension_resourceServiceProvider">
        <resourceServiceProvider
            class="org.xtext.hipie.ui.HIPIEExecutableExtensionFactory:org.eclipse.xtext.ui.resource.IResourceUIServiceProvider"
            uriExtension="dud">
        </resourceServiceProvider>
        <resourceServiceProvider
              class="org.xtext.hipie.ui.HIPIEExecutableExtensionFactory:org.eclipse.xtext.ui.resource.IResourceUIServiceProvider"
              uriExtension="cmp">
        </resourceServiceProvider>
    </extension>


	<!-- marker definitions for org.xtext.hipie.HIPIE -->
	<extension
	        id="hipie.check.fast"
	        name="HIPIE Problem"
	        point="org.eclipse.core.resources.markers">
	    <super type="org.eclipse.xtext.ui.check.fast"/>
	    <persistent value="true"/>
	</extension>
	<extension
	        id="hipie.check.normal"
	        name="HIPIE Problem"
	        point="org.eclipse.core.resources.markers">
	    <super type="org.eclipse.xtext.ui.check.normal"/>
	    <persistent value="true"/>
	</extension>
	<extension
	        id="hipie.check.expensive"
	        name="HIPIE Problem"
	        point="org.eclipse.core.resources.markers">
	    <super type="org.eclipse.xtext.ui.check.expensive"/>
	    <persistent value="true"/>
	</extension>

   <extension
         point="org.eclipse.xtext.builder.participant">
      <participant
            class="org.xtext.hipie.ui.HIPIEExecutableExtensionFactory:org.eclipse.xtext.builder.IXtextBuilderParticipant"
            fileExtensions="dud , cmp"
            >
      </participant>
   </extension>
   <extension
            point="org.eclipse.ui.preferencePages">
        <page
              category="org.xtext.hipie.HIPIE"
              class="org.xtext.hipie.ui.HIPIEExecutableExtensionFactory:org.eclipse.xtext.ui.editor.preferences.LanguageRootPreferencePage"
              id="org.xtext.hipie.HIPIE.compiler.preferencePage"
              name="Compiler">
            <keywordReference id="org.xtext.hipie.ui.keyword_HIPIE"/>
        </page>
    </extension>
    <extension
            point="org.eclipse.ui.propertyPages">
        <page
            category="org.xtext.hipie.HIPIE"
            class="org.xtext.hipie.ui.HIPIEExecutableExtensionFactory:org.eclipse.xtext.builder.preferences.BuilderPreferencePage"
            id="org.xtext.hipie.HIPIE.compiler.propertyPage"
            name="Compiler">
            <keywordReference id="org.xtext.hipie.ui.keyword_HIPIE"/>
            <enabledWhen>
	            <adapt type="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
	        <filter name="projectNature" value="org.eclipse.xtext.ui.shared.xtextNature"/>
        </page>
    </extension>
    <extension point="org.eclipse.ui.menus">
		<menuContribution locationURI="popup:#TextEditorContext?after=xtext.ui.openDeclaration">
			<command
				commandId="org.eclipse.xtext.ui.OpenGeneratedFileCommand"
				id="org.xtext.hipie.HIPIE.OpenGeneratedCode"
				style="push">
					<visibleWhen checkEnabled="false">
						<reference definitionId="org.xtext.hipie.HIPIE.Editor.opened" />
					</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<extension point="org.eclipse.ui.handlers">
		<handler
			class="org.xtext.hipie.ui.HIPIEExecutableExtensionFactory:org.eclipse.xtext.ui.generator.trace.OpenGeneratedFileHandler"
			commandId="org.eclipse.xtext.ui.OpenGeneratedFileCommand">
				<activeWhen>
					<reference definitionId="org.xtext.hipie.HIPIE.Editor.opened" />
				</activeWhen>
		</handler>
	</extension>

	<!-- Quick Outline -->
	<extension
		point="org.eclipse.ui.handlers">
		<handler 
			class="org.xtext.hipie.ui.HIPIEExecutableExtensionFactory:org.eclipse.xtext.ui.editor.outline.quickoutline.ShowQuickOutlineActionHandler"
			commandId="org.eclipse.xtext.ui.editor.outline.QuickOutline">
			<activeWhen>
				<reference
					definitionId="org.xtext.hipie.HIPIE.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
	</extension>
	<extension
		point="org.eclipse.ui.commands">
		<command
			description="Open the quick outline."
			id="org.eclipse.xtext.ui.editor.outline.QuickOutline"
			name="Quick Outline">
		</command>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution
			locationURI="popup:#TextEditorContext?after=group.open">
			<command commandId="org.eclipse.xtext.ui.editor.outline.QuickOutline"
				style="push"
				tooltip="Open Quick Outline">
				<visibleWhen checkEnabled="false">
					<reference definitionId="org.xtext.hipie.HIPIE.Editor.opened"/>
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>
    <!-- quickfix marker resolution generator for org.xtext.hipie.HIPIE -->
    <extension
            point="org.eclipse.ui.ide.markerResolution">
        <markerResolutionGenerator
            class="org.xtext.hipie.ui.HIPIEExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator"
            markerType="org.xtext.hipie.ui.hipie.check.fast">
            <attribute
                name="FIXABLE_KEY"
                value="true">
            </attribute>
        </markerResolutionGenerator>
        <markerResolutionGenerator
            class="org.xtext.hipie.ui.HIPIEExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator"
            markerType="org.xtext.hipie.ui.hipie.check.normal">
            <attribute
                name="FIXABLE_KEY"
                value="true">
            </attribute>
        </markerResolutionGenerator>
        <markerResolutionGenerator
            class="org.xtext.hipie.ui.HIPIEExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator"
            markerType="org.xtext.hipie.ui.hipie.check.expensive">
            <attribute
                name="FIXABLE_KEY"
                value="true">
            </attribute>
        </markerResolutionGenerator>
    </extension>
   	<!-- Rename Refactoring -->
	<extension point="org.eclipse.ui.handlers">
		<handler 
			class="org.xtext.hipie.ui.HIPIEExecutableExtensionFactory:org.eclipse.xtext.ui.refactoring.ui.DefaultRenameElementHandler"
			commandId="org.eclipse.xtext.ui.refactoring.RenameElement">
			<activeWhen>
				<reference
					definitionId="org.xtext.hipie.HIPIE.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
	</extension>
    <extension point="org.eclipse.ui.menus">
         <menuContribution
            locationURI="popup:#TextEditorContext?after=group.edit">
         <command commandId="org.eclipse.xtext.ui.refactoring.RenameElement"
               style="push">
            <visibleWhen checkEnabled="false">
               <reference
                     definitionId="org.xtext.hipie.HIPIE.Editor.opened">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension point="org.eclipse.ui.preferencePages">
	    <page
	        category="org.xtext.hipie.HIPIE"
	        class="org.xtext.hipie.ui.HIPIEExecutableExtensionFactory:org.eclipse.xtext.ui.refactoring.ui.RefactoringPreferencePage"
	        id="org.xtext.hipie.HIPIE.refactoring"
	        name="Refactoring">
	        <keywordReference id="org.xtext.hipie.ui.keyword_HIPIE"/>
	    </page>
	</extension>

  <extension point="org.eclipse.compare.contentViewers">
    <viewer id="org.xtext.hipie.HIPIE.compare.contentViewers"
            class="org.xtext.hipie.ui.HIPIEExecutableExtensionFactory:org.eclipse.xtext.ui.compare.InjectableViewerCreator"
            extensions="dud">
    </viewer>
  </extension>
  <extension point="org.eclipse.compare.contentMergeViewers">
    <viewer id="org.xtext.hipie.HIPIE.compare.contentMergeViewers"
            class="org.xtext.hipie.ui.HIPIEExecutableExtensionFactory:org.eclipse.xtext.ui.compare.InjectableViewerCreator"
            extensions="dud" label="HIPIE Compare">
     </viewer>
  </extension>
  <extension point="org.eclipse.ui.editors.documentProviders">
    <provider id="org.xtext.hipie.HIPIE.editors.documentProviders"
            class="org.xtext.hipie.ui.HIPIEExecutableExtensionFactory:org.eclipse.xtext.ui.editor.model.XtextDocumentProvider"
            extensions="dud">
    </provider>
  </extension>
  <extension point="org.eclipse.team.core.fileTypes">
    <fileTypes
            extension="dud"
            type="text">
    </fileTypes>
  </extension>
  <extension
        point="org.eclipse.core.runtime.preferences">
     <initializer
           class="org.xtext.hipie.ui.CompilerPreferenceInitialiser">
     </initializer>
  </extension>
  <extension
        point="org.eclipse.core.runtime.preferences">
     <scope
           class="org.eclipse.core.internal.resources.ProjectPreferences"
           name="org.xtext.hipie.ui.projectscope">
     </scope>
  </extension>
  <extension
        point="org.eclipse.ui.views">
     <view
           class="org.xtext.hipie.views.DesignModeView"
           id="org.xtext.hipie.design_mode"
           name="Design Mode"
           restorable="true">
     </view>
  </extension>
  <extension
        point="org.eclipse.ui.commands">
     <command
           id="org.xtext.hipie.visualiser_select"
           name="Design Mode Select">
     </command>
  </extension>
  <extension
        point="org.eclipse.ui.handlers">
     <handler
           class="org.xtext.hipie.commands_listeners.DesignModeSelect"
           commandId="org.xtext.hipie.visualiser_select">
     </handler>
  </extension>
  <extension
        point="org.eclipse.ui.menus">
     <menuContribution
           allPopups="true"
           locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu?after=additions">
        <command
              commandId="org.xtext.hipie.visualiser_select"
              label="Design Mode"
              style="push">
           <visibleWhen>
              <with
                    variable="activeMenuSelection">
                 <iterate
                       ifEmpty="false">
                    <adapt
                          type="org.eclipse.core.resources.IResource">
                       <and>
                          <test
                                property="org.eclipse.core.resources.extension"
                                value="html">
                          </test>
                          <test
                                property="org.eclipse.core.resources.projectNature "
                                value="org.xtext.hipie.ui.HIPIENature">
                          </test>
                       </and>
                    </adapt>
                 </iterate>
              </with>
           </visibleWhen>
        </command>
     </menuContribution>
  </extension>
  <extension
        point="org.eclipse.ui.perspectives">
     <perspective
           class="org.xtext.hipie.ui.HIPIEPerspective"
           id="org.xtext.hipie.ui.hipie_perspec"
           name="HIPIE">
     </perspective>
  </extension>
  <extension
        point="org.eclipse.ui.newWizards">
     <wizard
           category="org.xtext.hipie.ui.hipie_cat"
           class="org.xtext.hipie.ui.HIPIEWizard"
           finalPerspective="org.xtext.hipie.ui.hipie_perspec"
           icon="icons/peace.png"
           id="org.xtext.hipie.ui.HIPIE_wiz"
           name="HIPIE Plugin Project"
           project="true">
     </wizard>
     <category
           id="org.xtext.hipie.ui.hipie_cat"
           name="HIPIE ">
     </category>
  </extension>
  <extension
        point="org.eclipse.ui.statusHandlers">
     <statusHandler
           class="org.xtext.hipie.error.HIPIEDesignModeErrorHandler"
           id="org.xtext.hipie.ui.status_handler">
     </statusHandler>
     <statusHandler
           class="org.xtext.hipie.error.HIPIELauncherErrorHandler"
           id="org.xtext.hipie.ui.status_handler">
     </statusHandler>
  </extension>
  <extension
        id="HIPIENature"
        point="org.eclipse.core.resources.natures">
     <runtime>
        <run
              class="org.xtext.hipie.ui.HIPIENature">
        </run>
     </runtime>
  </extension>
  <extension
        point="org.eclipse.ui.propertyPages">
     <page
           class="org.xtext.hipie.ui.DataPropertyPage"
           id="org.xtext.hipie.databombPage"
           name="Databomb"
           selectionFilter="single">
        <enabledWhen>
           <adapt
                 type="org.eclipse.core.resources.IResource">
              <and>
                 <test
                       property="org.eclipse.core.resources.projectNature "
                       value="org.xtext.hipie.ui.HIPIENature">
                 </test>
                 <not>
                    <or>
                       <test
                             property="org.eclipse.core.resources.extension"
                             value="dud">
                       </test>
                       <test
                             property="org.eclipse.core.resources.extension"
                             value="html">
                       </test>
                       <test
                             property="org.eclipse.core.resources.extension"
                             value="databomb">
                       </test>
                       <test
                             property="org.eclipse.core.resources.extension"
                             value="ddl">
                       </test>
                       <test
                             property="org.eclipse.core.resources.extension"
                             value="persist">
                       </test>
                    </or>
                 </not>
              </and>
           </adapt>
        </enabledWhen>
     </page>
  </extension>
  <extension
        point="org.eclipse.debug.core.launchConfigurationTypes">
     <launchConfigurationType
           delegate="org.xtext.hipie.launcher.HIPIELauncher"
           id="org.xtext.hipie.ui.launchConfiguration"
           modes="run"
           name="HIPIE application">
     </launchConfigurationType>
  </extension>
  <extension
        point="org.eclipse.debug.ui.launchConfigurationTabGroups">
     <launchConfigurationTabGroup
           class="org.xtext.hipie.launcher.HIPIELaunchConfigurationTabGroup"
           id="org.xtext.hipie.ui.launchConfigurationDatabomb"
           type="org.xtext.hipie.ui.launchConfiguration">
     </launchConfigurationTabGroup>
  </extension>
  <extension
        point="org.eclipse.debug.ui.launchShortcuts">
     <shortcut
           class="org.xtext.hipie.launcher.HIPIELaunchExternalBrowser"
           icon="icons/internet.png"
           id="org.xtext.hipie.ui.externalBrowser"
           label="External Browser"
           modes="run">
        <contextualLaunch>
           <enablement>
              <with
                    variable="selection">
                 <count
                       value="1">
                 </count>
                 <iterate>
                    <test
                          property="org.eclipse.debug.ui.matchesPattern"
                          value="*.dud">
                    </test>
                 </iterate>
              </with>
           </enablement>
        </contextualLaunch>
     </shortcut>
  </extension>
  <extension
        point="org.eclipse.debug.ui.launchShortcuts">
     <shortcut
           class="org.xtext.hipie.launcher.HIPIELaunchDesignMode"
           icon="icons/designMode.png"
           id="org.xtext.hipie.ui.designMode"
           label="Design Mode"
           modes="run">
        <contextualLaunch>
           <enablement>
              <with
                    variable="selection">
                 <count
                       value="1">
                 </count>
                 <iterate>
                    <test
                          property="org.eclipse.debug.ui.matchesPattern"
                          value="*.dud">
                    </test>
                 </iterate>
              </with>
           </enablement>
        </contextualLaunch>
     </shortcut>
  </extension>
  <extension
        point="org.eclipse.debug.ui.launchConfigurationTypeImages">
     <launchConfigurationTypeImage
           configTypeID="org.xtext.hipie.ui.launchConfiguration"
           icon="icons/internet.png"
           id="org.xtext.hipie.ui.HIPIELaunchConfigurationImage">
     </launchConfigurationTypeImage>
  </extension>
  <extension
        point="org.eclipse.ui.perspectiveExtensions">
     <perspectiveExtension
           targetID="org.xtext.hipie.ui.hipie_perspec">
        <actionSet
              id="org.eclipse.debug.ui.launchActionSet">
        </actionSet>
     </perspectiveExtension>
  </extension>
  <extension
        point="org.eclipse.debug.ui.launchShortcuts">
     <shortcut
           class="org.xtext.hipie.launcher.DatabombLauncher"
           icon="icons/data_folder.png"
           id="org.xtext.hipie.ui.createDatabomb"
           label="Create Databomb"
           modes="run">
        <contextualLaunch>
           <enablement>
              <with
                    variable="selection">
                 <count
                       value="1">
                 </count>
                 <iterate>
                    <and>
                       <test
                             forcePluginActivation="true"
                             property="org.xtext.hipie.ui.isCompilationEnabled">
                       </test>
                       <test
                             forcePluginActivation="true"
                             property="org.xtext.hipie.ui.isValidFile">
                       </test>
                    </and>
                 </iterate>
              </with>
           </enablement>
        </contextualLaunch>
     </shortcut>
  </extension>
  <extension
        point="org.eclipse.core.expressions.propertyTesters">
     <propertyTester
           class="org.xtext.hipie.propertyTesters.DatabombPropTester"
           id="org.xtext.hipie.ui.DatabombTester"
           namespace="org.xtext.hipie.ui"
           properties="isCompilationEnabled, isValidFile,hasBeenPrompted"
           type="java.lang.Object">
     </propertyTester>
  </extension>
</plugin>
